body	{
	background-image:url(bg.png);
}

h1	{
	text-align:center;
	font-family:"Segoe UI", sans-serif;
	font-weight: bold;
	font-size:80px;
	line-height:50%;

}

.header	{
	text-align:center;
	font-family:"Segoe UI", sans-serif;
	font-size:1.5em;
}

a {
	text-decoration: none;
}



#me 	{
	display:block;
	margin: 0 auto;
}
p 	{
	margin-left:auto;
	margin-right:auto;
	font-family:"Open Sans", sans-serif;
	width:60%;
	background:#7f7f7f;
  	background:rgba(255,255,255,0.5);
  	padding-left:20px;
  	padding-right:20px;
  	padding-top:15px;
  	padding-bottom:15px;
  	border-radius:5px;
}